<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApSettings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4444E1F254B1AB900AF6CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4444E35254B1ABB00AF6CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4444E40254B1ABB00AF6CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
